<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">

    <h1>タスクをメモしよう</h1>

    <p>どこでも、どのスマホでも、どのパソコンでも
    <br>タスクを書き出せます。
    <br>タスクを整理して頭の中を整理しよう</p>

    <h2>こんな方にオススメです</h2>
    <ul>
      <li>タスクに納期が存在する</li>
      <li>タスクの打合せが多い方</li>
      <li>タスクの数が多く管理するのが面倒な方</li>
      <li>手書きでメモするのが苦手、面倒な方</li>
    </ul>

    <h3>こんなシュチュエーション<br>でも・・・</h3>
    <ul>
      <li>同じ部署野中での会議中</li>
      <li>他部署の人との打合せ中</li>
      <li>取引先との商談中</li>
      <li>協力会社との納期交渉中</li>
    </ul>

    <p><span>「そういえばさー、あれってどうなってる？」</span>と、<br>
        タスクの進捗を唐突に聞かれませんか。</p>

    <p>1つでもあてはまる方は、まずはタスクを登録して、
    <br>納期を管理してみよう！</p>
    </div>
  </div>
</div>
