<h1>パスワードのリセット</h1>

<p>パスワードをリセットするには、以下のリンクをクリックしてください</p>

<%= link_to "Reset password", edit_user_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間で期限切れになります。</p>

<p>
パスワードのリセットをリクエストしなかった場合は、このメールを無視して、
パスワードはそのままです。
</p>
