<% if @memo.errors.any? %>  
  <div id="error_explanation">
    <div class="alert alert-danger">
      このフォームには <%= pluralize(@memo.errors.count, "error") %>.
    </div>
    <ul>
    <% @memo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
